#skillsSectionContainer {
    /* margin-top: 2rem; */

    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.075rem;
    color: #f8f9ff;

    animation: fade 1s ease-in-out;
    transition: ease-in-out 1s fade;
    display: flex;
}

#skillsContainer {
    width: 70%;
}

.paragHeader {
    width: 60%;
    margin-top: 2.5rem;
    margin-bottom: 0.4rem;
    color: #59B9B4;
}
