#skillsSectionContainer {
    margin-top: 2rem;

    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.075rem;
    color: #f8f9ff;

    animation: fade 0.8s ease-in-out;
    transition: ease-in-out 2s fade;
}

.paragHeader {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    color: #488DFF;
}
