#navContainer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 5rem; */
    margin-top: 3rem;
}


#navbarList {
    display: flex;
}

#navbarList li {
    list-style-type: none;
    margin: 0 0.9rem;
}

#navbarList li a {
    color: #F8F9FF;
    text-decoration: none;
    font-size: 1.2rem;
}

#navbarList li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: #59B9B4;
    text-underline-offset: 0.5rem;
    color: rgba(248, 249, 255, 0.90);
}

#navbarList li:hover {
    transform: translateY(-0.075rem);
}

.selectedNav {
    /* color: #59B9B4 !important; */
    text-decoration: underline !important;
    text-decoration-thickness: 0.125rem !important;
    text-decoration-color: #59B9B4 !important;
    text-underline-offset: 0.5rem !important;
}
/* 
@media only screen and (max-width: 1000px) {
    #navContainer {
        padding-right: 2rem;
        margin-top: 1.5rem;
    }
    #navbarList li a {
        font-size: 1.2rem;
    }
} */

@media only screen and (max-width: 1000px) {
    #navbarList li a {
        display: none;
    }
}

@media only screen and (min-width: 1800px) and (min-height: 1000px) {
    #navContainer {
        margin-top: 3rem;
    }
    #navbarList li a {
        font-size: 1.6rem;
    }
}