#profileImageContainer {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* margin-top: 0.5rem; */
}

#profilePicture {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* box-shadow: #59B9B4 0px 25px 15px -25px; */
    /* box-shadow: #59B9B4 0px 2px 4px 0px, #59B9B4 0px 2px 16px 0px; */
    /* box-shadow: #59b9b481 0px 0px 0.25em, #59b9b481 0px 0.25em 1em; */
    /* box-shadow: #59b9b4cf 0px 2px 8px 0px; */
    box-shadow: #59b9b4cf 0px 4px 16px, #59b9b480 0px 4px 4px;
    transition: 1s ease-in-out;
    animation: 3s profilePictureFloat ease-in-out infinite;
}

@keyframes profilePictureFloat {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(0.2rem);
    }
    100% {
        transform: translateY(0rem);
    }
}