#skillContainer {
    min-height: 3rem;
    min-width: 5.3rem;

    background: rgba(20, 28, 52, 0.35);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.325rem;
    box-shadow: rgba(72, 142, 255, 0.10) 0px 2px 2px, rgba(72, 142, 255, 0.090) 0px 2px 8px;
}

.skillImage {
    height: 1.4rem;
    width: 1.4rem;
}

.skillName {
    /* margin-top: 0.6rem; */
    font-size: 1rem;
    font-weight: 500;
    color: #F8F9FF;
}

#skillContainer:hover {
    box-shadow: rgba(72, 142, 255, 0.40) 0px 2px 2px, rgba(72, 142, 255, 0.2) 0px 2px 8px;
}