#appContainer {
    height: 94vh;
    width: 70vw;
    overflow-y: scroll;
    scrollbar-width: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    background: rgba(20, 28, 52, 0.201);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 40px );
    border-radius: 10px;
}

.container::-webkit-scrollbar { 
    display: none;
}

#heroSectionContainer , #projectSectionContainer , #skillsSectionContainer {
    width: 80%;
    margin: 4rem auto;
}

@media only screen and (max-width: 1000px) {
    body {
        min-height: 100%;
    }
    #appContainer {
        min-height: 90vh;
        width: 90vw;
        /* padding-bottom: 12rem; */
    }

    /* #miniContainer {
        min-height: 70vh;
        width: 82vw;
        margin: 1rem auto;
    } */

    #heroSectionContainer , #projectSectionContainer , #skillsSectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        width: 95%;
        margin: 0 auto;
        min-height: auto;
    }

    #projectSectionContainer {
        padding-bottom: 10rem;
    }
}

@media only screen and (min-width: 2000px) and (min-height: 1000px) {
    body {
        min-height: 100%;
    }
    #appContainer {
        min-height: 70vh;
        width: 70vw;
    }


    #heroSectionContainer , #projectSectionContainer , #skillsSectionContainer {
        font-size: 1.4rem;
        width: 80%;
        min-height: auto;
        animation: none !important;
    }

    #projectSectionContainer , #skillsSectionContainer {
        margin-top: 7rem;
    }
}