#heroSectionContainer {
    min-height: 100%;
    /* margin-top: 2rem; */
    
    font-size: 1.3rem;
    color: rgba(248, 249, 255, 0.80);

    animation: appear 1s ease-in-out;
    transition: ease-in-out 1s appear;
}

#greetText {
    margin-top: 3rem;
}

#introductiontext {
    margin-top: 0.6rem;
    color: #f8f9ff;

    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

#myName {
    font-weight: medium;
    color: rgb(248, 249, 255);
}


#cityName, .technologyName {
    color: #488DFF;
}

#countryName {
    color: #59B9B4;
}

@keyframes appear {
    from {
        opacity: 0.5;
        transform: translateY(400px);
    }
    to {
        opacity: 1;
    }
}